<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClockUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ClockUI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CustomAlertUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TechTalk_Library-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TechTalk_Library.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ClockUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ClockUI_iOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CustomAlertUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TechTalk_Library</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TechTalk_LibraryTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TechTalk_Library_ClockUI_iOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TechTalk_Library_CustomAlertUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TechTalk_Library_TechTalk_Library</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
